footer.footer svg {
	font-size: 40px;
}
svg.linkedin {
	color: darkblue;
}
svg.github {
	color: gray;
}
svg.instagram {
	color: darkmagenta;
}
svg.facebook {
	color: blue;
}
footer.footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}
